<?xml version="1.0" encoding="UTF-8"?>
<!--  Levels: OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL  -->
<Configuration status="INFO">
  <Appenders>
    <RollingFile
     name="File"
     fileName="logs/SchwarzschildGaussNewton.log"
     filePattern="logs/SchwarzschildGaussNewton-%i.log"
    >
      <PatternLayout pattern="%d{EEE dd MMM yyyy 'at' HH:mm:ss.SSS z} %level %c [%t] %m%n"
      />
      <Policies>
        <OnStartupTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy min="1" max="1">
        <Delete basePath="logs">
        <IfFileName regex="SchwarzschildGaussNewton-1.log"/>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{EEE dd MMM yyyy 'at' HH:mm:ss.SSS z} %level %c [%t] %m%n}"
      />
    </Console>
    <Async name="Async">
      <AppenderRef ref="File"/>
      <AppenderRef ref="Console"/>
    </Async>
  </Appenders>
  <Loggers>
    <Logger name="ianmarshall.SchwarzschildGaussNewton" level="INFO" additivity="false">
        <AppenderRef ref="Async"/>
    </Logger>
    <Logger name="ianmarshall.Supervisor" level="INFO" additivity="false">
        <AppenderRef ref="Async"/>
    </Logger>
    <Logger name="ianmarshall.Worker" level="INFO" additivity="false">
        <AppenderRef ref="Async"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="Async"/>
    </Root>
  </Loggers>
</Configuration>
